@import "node_modules/ol/ol.css";

html, body {
  display: block;
  margin: 0;
  height: 100%;
  background-color: #a9a5a1;
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.closeButton {
  position: absolute;
  top: 0%;
  left: 0%;
  transform: translate(-50%, -50%);
  padding: 12px 24px;
  margin: 30px 50px;
  font-size: 10px;
  cursor: pointer;
}

.panel {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #a9a5a1;
  overflow-x: hidden;
}

.firstPage, .lastPage{
  position: absolute;
  width: 100px;
  height: 40px;
  border-radius: 20px;
  z-index: 1;
  background-color: #25efef;
  overflow-x: hidden;
}

.firstPage{
  margin: 90px 20px;
}
.lastPage {
  margin: 90px 180px;
}

.chapterName{
  margin:20px 50px;
  position: absolute;
  width: 200px;
  height: 50px;
  border-radius: 20px;
  z-index: 1;
  background-color: #ffffff;
  overflow-x: hidden;
}

.chaptSummary{
  margin: 150px 25px;
  position: absolute;
  width: 250px;
  height: 600px;
  border-radius: 20px;
  z-index: 1;
  background-color: #8b8585;
  overflow-x: hidden;
}

h1, h2, h3{
  margin: 0px;
  text-align: center;
}

.pageLinks{
  margin: 0;
  line-height: 40px;
  text-align: center;
}

p{
  margin: 20px;
  text-align: justify;
}

h1, h2, h3{
  line-height: 50px;
}